<div class="jumbotron jumbotron-fluid bg-secondary">
  <div class="nav">
    <ul class="nav-item">
      <a class="nav-link active" href="/"> Home</a>
      <a class="nav-link active" href="#"> Log out</a>
    </ul>
    <div class="container">
      <h1 class="display-4 text-center">Patient Records<h1 id="doctor"></h1>


        <form class="form-inline">
          <button class="btn btn-danger" type="submit" id="addNewPatient">Add a new patient</button>
        </form>
        </nav>
    </div>
  </div>
</div>
{{#each patients}}
<table class="table">
  <thead class="thead-dark" id="patientDb">
    <tr>
      <th>Patient ID</th>
      <th>Patient Name</th>
      <th>Patient DoctorID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="patient-id">{{this.dataValues.id}}</td>
      <td>{{this.dataValues.name}}</td>
      <td>{{this.dataValues.DoctorId}}</td>
    </tr>
  </tbody>
</table>
<table class="table">
  <thead class="thead-dark" id="patientDb-record">
    <tr>
      <th>Medical History</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="currentMedHist">{{this.dataValues.medicalHistory}}</td>
    </tr>
  </tbody>
</table>
{{/each}}
<div>
  <textarea name="" id="edit-patient" cols="30" rows="3" style="width:80%">{{this.dataValues.medicalHistory}}</textarea>
  <br>
  <button data-patientid="{{this.dataValues.id}}" class="edit-patient">Add Record</button>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>
<script type="text/javascript">
  $(document).ready(function () {

    $(".edit-patient").on("click", function () {

      var id = $("#patient-id").text();
      var oldRecord = $("#currentMedHist").text();
      console.log(oldRecord);
      var newRecord=oldRecord + " || " + $("#edit-patient").val().trim();
      var medicalHistory = {
        medicalHistory: newRecord
      };

      $.ajax("/api/patients/" + id, {
        type: "PUT",
        data: medicalHistory,
      }).then(function () {
        location.reload();
      });
    });
  });


</script>