<div class="jumbotron jumbotron-fluid bg-secondary">
  <div class="nav">
    <ul class="nav-item">
      <a class="nav-link active" href="/"> Home</a>
      <a class="nav-link active" href="#"> Log out</a>
    </ul>
    <div class="container">
      <h1 class="display-4 text-center">Patient Records<h1 id="doctor"></h1>


        <form class="form-inline">
          <button class="btn btn-danger" type="submit" id="addNewPatient">Add a new patient</button>
        </form>
        </nav>
    </div>
  </div>
</div>
<table class="table">
  <thead class="thead-dark" id="patientDb">
    <tr>
      <th>Patient ID</th>
      <th>Patient Name</th>
      <th>Patient DoctorID</th>
      <th>Medical History</th>
      <th>Edit Records</th>
    </tr>
    {{#each patients}}
    <tr>
      <td>{{this.dataValues.id}}</td>
      <td>{{this.dataValues.name}}</td>
      <td>{{this.dataValues.DoctorId}}</td>
      <td id="currentMedHist">{{this.dataValues.medicalHistory}}</td>
      <td>
        <textarea name="" id="edit-patient" cols="30" rows="3">{{this.dataValues.medicalHistory}}</textarea>
        <br>
        <button data-patientid="{{this.dataValues.id}}" class="edit-patient">Edit Button</button>
      </td>

    </tr>
    {{/each}}
  </thead>

</table>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>
<script type="text/javascript">

  $(document).ready(function () {

    $(".edit-patient").on("click", function () {

      var id = $(this).attr("data-patientid");

      var medicalHistory = {
        medicalHistory: $("#edit-patient").val().trim()
      };

      $.ajax("/api/patients/" + id, {
        type: "PUT",
        data: medicalHistory,
      }).then(function () {
        location.reload();
      });
    });
  });


</script>